<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs', {title:'Alteração de Pizza'}) %> 
<body>
    <%- include('includes/header.ejs') %>

    <main class="container d-flex justify-content-center align-items-center vh-75 flex-column">
        <%# 
            título do formulário
            Campo para o nome da pizza
            Campo para o preço da pizza
            button do tipo submit
            a width do form sera fixa em 400px
            form deverá ficar ao centro da tela, tanto na horizontal quanto na vertical
        %>

          <form action="/cardapio/alterar?_method=PUT" method="POST" class="form-cadastro card">
              <h2>Alteração de pizza</h2>
              <input type="number" value="<%= posicao %>" name="posicao" hidden readonly>
              <div class="form-group">
                  <label for="">Nome da Pizza</label>
                  <input type="text" class="form-control" id="nomePizza" name="nomePizza" value="<%= pizza.nome %> ">
              </div>
              <div class="form-group">
                <label for="precoPizza">Preço da Pizza</label>
                <input type="number" class="form-control" id="precoPizza" name="precoPizza" value="<%= pizza.preco %> ">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Finalizar Alteração</button>
            </div>
          </form>

          <% if(typeof(msg) != 'undefined'){ %> 
          <div class="d-flex justify-content-end">
              <div class="alert alert-success">
                  <%= msg %> 
              </div>
          </div>
        <% } %> 

    </main>
</body>
</html>